<%- include("templates/encabezado")%>
<div class="nosotros">
    <h1>El equipo detras de este proyecto</h1>
    <div class="equipo">
        <div class="card">
            <h3>Marketing</h3>
            <img src="image/nosotros/Alexis.png.jpg" alt="">
            <h4>Argüello Castro Alexis</h4>
            <h4>5559628069</h4>
            <h4>alexisarguellocastro@gmail.com</h4>
            <div class="social-icons">
                <ul class="example-2">
                    <li class="icon-content">
                      <a
                        href="https://www.facebook.com/profile.php?id=100084775417789&mibextid=ZbWKwL"
                        aria-label="LinkedIn"
                        data-social="linkedin"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                      <div class="tooltip">Facebook</div>
                    </li>
                    <li class="icon-content">
                      <a href="https://github.com/AlexanderdelaMancha" aria-label="GitHub" data-social="github">
                        <div class="filled"></div>
                        <i class="fa-brands fa-github"></i>
                      </a>
                      <div class="tooltip">GitHub</div>
                    </li>
                    <li class="icon-content">
                      <a
                        href="https://www.instagram.com/doc_alexander03?igsh=enZzMWMwY2wwMTlk"
                        aria-label="Instagram"
                        data-social="instagram"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                      <div class="tooltip">Instagram</div>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="card">
            <h3>Developer - Front-end</h3>
            <img src="image/nosotros/christopher.png" alt="">
            <h4>Becerril Piña Christopher Emmanuel</h4>
            <h4>4271892066</h4>
            <h4>thechieff3600@outlook.com</h4>
            <div class="social-icons">
                <ul class="example-2">
                    <li class="icon-content">
                      <a
                        href="https://www.facebook.com/christopher.becerril.5496?locale=es_LA"
                        aria-label="LinkedIn"
                        data-social="linkedin"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                      <div class="tooltip">Facebook</div>
                    </li>
                    <li class="icon-content">
                      <a href="https://github.com/charmingmaan" aria-label="GitHub" data-social="github">
                        <div class="filled"></div>
                        <i class="fa-brands fa-github"></i>
                      </a>
                      <div class="tooltip">GitHub</div>
                    </li>
                    <li class="icon-content">
                      <a
                        href=""
                        aria-label="Instagram"
                        data-social="instagram"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                      <div class="tooltip">Instagram</div>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="card">
            <h3>Diseñadora</h3>
            <img src="image/nosotros/Sara.jpg.png" alt="">
            <h4>Juarez Argüello Ariadna Sarahí</h4>
            <h4>4271796912</h4>
            <h4>sarahija.ti23@utsjr.edu.mx</h4>
            <div class="social-icons">
                <ul class="example-2">
                    <li class="icon-content">
                      <a
                        href="https://www.facebook.com/share/V6Hp3iRMR7YLWkrf/?mibextid=qi2Omg"
                        aria-label="LinkedIn"
                        data-social="linkedin"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                      <div class="tooltip">Facebook</div>
                    </li>
                    <li class="icon-content">
                      <a href="https://github.com/AriaJDB/" aria-label="GitHub" data-social="github">
                        <div class="filled"></div>
                        <i class="fa-brands fa-github"></i>
                      </a>
                      <div class="tooltip">GitHub</div>
                    </li>
                    <li class="icon-content">
                      <a
                        href=""
                        aria-label="Instagram"
                        data-social="instagram"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                      <div class="tooltip">Instagram</div>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="card">
            <h3>Developer - Full-Stack</h3>
            <img src="image/nosotros/zaid.jpg" alt="">
            <h4>Lujan Aguilar Zaid Moises</h4>
            <h4>4272012219</h4>
            <h4>zaid.l.a.0329@gmail.com</h4>
            <div class="social-icons">
                <ul class="example-2">
                    <li class="icon-content">
                      <a
                        href="https://www.facebook.com/profile.php?id=100088874996663&locale=es_LA"
                        aria-label="LinkedIn"
                        data-social="linkedin"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                      <div class="tooltip">Facebook</div>
                    </li>
                    <li class="icon-content">
                      <a href="https://github.com/Za-i-d" aria-label="GitHub" data-social="github">
                        <div class="filled"></div>
                        <i class="fa-brands fa-github"></i>
                      </a>
                      <div class="tooltip">GitHub</div>
                    </li>
                    <li class="icon-content">
                      <a
                        href="https://www.instagram.com/_za_i_do_/"
                        aria-label="Instagram"
                        data-social="instagram"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                      <div class="tooltip">Instagram</div>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="card">
            <h3>Developer - DataBase</h3>
            <img src="image/nosotros/alan.png" alt="">
            <h4>Lopez Mendoza Alan</h4>
            <h4>7221560383</h4>
            <h4>alanlm.ti23@utsjr.edu.mx</h4>
            <div class="social-icons">
                <ul class="example-2">
                    <li class="icon-content">
                      <a
                        href="https://www.facebook.com/alan.lopezmndoza?mibextid=ZbWKwL"
                        aria-label="LinkedIn"
                        data-social="linkedin"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                      <div class="tooltip">Facebook</div>
                    </li>
                    <li class="icon-content">
                      <a href="" aria-label="GitHub" data-social="github">
                        <div class="filled"></div>
                        <i class="fa-brands fa-github"></i>
                      </a>
                      <div class="tooltip">GitHub</div>
                    </li>
                    <li class="icon-content">
                      <a
                        href="https://www.instagram.com/alanlopezmndoza?igsh=MTNoamZiOGw4b3BqcA=="
                        aria-label="Instagram"
                        data-social="instagram"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                      <div class="tooltip">Instagram</div>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="card">
            <h3>Diseñadora</h3>
            <img src="image/avatar-usuario.png" alt="">
            <h4>Luna Álvarez Brenda Guadalupe</h4>
            <h4>4271244132</h4>
            <h4>alexisarguellocastro@gmail.com</h4>
            <div class="social-icons">
                <ul class="example-2">
                    <li class="icon-content">
                      <a
                        href=""
                        aria-label="LinkedIn"
                        data-social="linkedin"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                      <div class="tooltip">Facebook</div>
                    </li>
                    <li class="icon-content">
                      <a href="" aria-label="GitHub" data-social="github">
                        <div class="filled"></div>
                        <i class="fa-brands fa-github"></i>
                      </a>
                      <div class="tooltip">GitHub</div>
                    </li>
                    <li class="icon-content">
                      <a
                        href=""
                        aria-label="Instagram"
                        data-social="instagram"
                      >
                        <div class="filled"></div>
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                      <div class="tooltip">Instagram</div>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>