<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/cuestionario.css">
    <!-- FontAwesome CDN Link for Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="js/script.js" defer></script>
    <script src="js/preguntas/preguntas2.js" defer></script>
    <title>Nivel 1 - Actividad 1</title>
</head>

<body>

    <div class="hud">
        <div class="usu">
            <img src="<%= usuario.foto_usu %>" alt="" class="foto-perfil">
            <h2><%= usuario.nom_usu %></h2>
        </div>
        <div class="vida">
            <h2>Vidas :
                <i id="heart1" class="fa-solid fa-heart"></i>
                <i id="heart2" class="fa-solid fa-heart"></i>
                <i id="heart3" class="fa-solid fa-heart"></i>
            </h2>
        </div>
        <div class="puntaje">
            <h2>Puntaje : <span id="puntaje">0</span></h2>
        </div>
    </div>

    <!-- botón de inicio de prueba -->
    <div class="start_btn"><button>Iniciar prueba</button></div>

    <!-- Caja de Informacion-->
    <div class="info_box">
        <div class="info-title"><span>Algunas reglas de este cuestionario</span></div>
        <div class="info-list">
            <div class="info">1. Tendrás solo <span>20 segundos</span> por cada pregunta.</div>
            <div class="info">2. Una vez que seleccione su respuesta, no se puede deshacer.</div>
            <div class="info">3. No puede seleccionar ninguna opción una vez que se acaba el tiempo.</div>
            <div class="info">4. No puedes salir del Quiz mientras estás jugando.</div>
            <div class="info">5. Obtendrás puntos en base a tus respuestas correctas.</div>
        </div>
        <div class="buttons">
            <button class="quit">Salir del Cuestionario</button>
            <button class="restart">Continuar</button>
        </div>
    </div>

    <!-- Cuadro de prueba-->
    <div class="quiz_box">
        <header>
            <div class="title">Examen de Programación</div>
            <div class="timer">
                <div class="time_left_txt">Tiempo restante</div>
                <div class="timer_sec">20</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
                <!-- Aquí he insertado una pregunta de JavaScript -->
            </div>
            <div class="option_list">
                <!-- Aquí he insertado opciones de JavaScript -->
            </div>
        </section>

        <!-- pie de página de la prueba -->
        <footer>
            <div class="total_que">
                <!-- Aquí he insertado Número de conteo de preguntas de JavaScript -->
            </div>
            <button class="next_btn">Siguiente</button>
        </footer>
    </div>

    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
            <img src="image/imagenFinCuestionario.png" class="avatar" alt="">
        </div>
        <div class="complete_text">¡Has completado el cuestionario!</div>
        <div class="score_text">
            <!-- Aquí he insertado Score Result de JavaScript-->
        </div>
        <div class="buttons">
            <button class="restart">Cuestionario de repetición</button>
            <button class="quit">Salir</button>
        </div>
    </div>
    <form id="resultForm" method="POST" action="/guardar-resultados" style="display: none;">
        <input type="hidden" id="id_usu" name="id_usu" value="<%= usuario.id_usu %>">
        <input type="text" id="puntajeFinal" name="puntaje">
        <input type="text" id="vidasRestantes" name="vidas">
        <input type="text" id="nivel" name="nivel">
        <input type="txt" id="actividad" name="actividad">
    </form>
</body>

</html>