<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="Image/Logo.png" type="image/x-icon">
    <script src="js/perfil.js" defer></script>
    <script src="js/actividades.js" defer></script>
    <link rel="stylesheet" href="CSS/styles.css">
    <title>CodeCraft</title>
</head>

<body>
    <div class="navHeader">
        <header>
            <nav>
                <div class="logos">
                    <a href="/inicio" class="logotipo"><img src="Image/Logo.png" alt="" class="logo"></a>
                    <h1 class="codecraft">CodeCraft</h1>
                </div>
                <div class="vidas-info">
                    <span>
                        Vidas: 
                        <% for (let i = 0; i < vidas; i++) { %>
                            <i class="fa-solid fa-heart"></i>
                        <% } %>
                    </span>
                    <% if (tiempoRestante > 0) { %>
                        <span>Tiempo para próxima vida: <%= tiempoRestante %> segundos</span>
                    <% } %>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/inicio" id="inicio">Inicio</a></li>
                        <li><a href="/cursos" id="cursos">Cursos</a></li>
                        <!-- <li class="ajuste">
                            <a href="ajustes.html" id="ajustes">Ajustes
                                <span class="arrow-down">
                                    <i class="fa-solid fa-caret-down"></i>
                                </span>
                            </a>
                            <ul class="drop-down">
                                <li class="opcion">opcion 1</li>
                                <li>opcion 2</li>
                                <li>opcion 3</li>
                            </ul>
                        </li> -->
                        <li><a href="/nosotros">Conocenos</a></li>
                        <li><a href="/ajustes"> <img src="<%= usuario.foto_usu %>" alt="foto-de-perfil" id="foto-perfil"></a></li>
                        <!-- <i class="fa-solid fa-user fa-2xl"></i> -->
                    </ul>
                </div>
            </nav>
        </header>
    </div>