@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i');
@import url('https://fonts.cdnfonts.com/css/arca-majora-3');

* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 963px) and (max-width: 2000px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #393f70;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0 0 5px black;
        transition: ease;
        transition-duration: 0.5s;
        width: 100%;
    }

    nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin-left: 20px;
        font-size: 20px;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    a {
        text-decoration: none;
        color: white;
        transition: ease;
        transition-duration: 0.5s;
    }

    a:hover {
        color: #8088b8;
    }

    #inicio:hover,
    #cursos:hover,
    #comunidad:hover,
    #ajustes:hover {
        font-size: 18px;
        transition: ease;
        transition-duration: 0.5s;
    }

    .logo {
        width: 15%;
        font-weight: 900;
        font-size: 30px;
        transition: ease;
        transition-duration: 0.5s;
    }

    .barNav ul li {
        display: none;
    }

    nav .menu a {
        position: relative;
        font-size: 1.1rem;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 20px;
    }

    nav .menu a::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -6px;
        left: 0;
        height: 2px;
        background: #ffffff;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s;
    }

    nav .menu a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .codecraft {
        margin-left: 10px;
        padding: 0px;
    }

    .logotipo img {
        width: 60px;
    }

    .logo:hover {
        filter: opacity(70%);
    }

    #foto-perfil {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #8088b8;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down {
    position: absolute;
    padding: 4px 0;
    width: auto;
    margin: 0rem -0.5rem;
    background-color: #393f70;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    font-weight: 400;
    display: none;
}

.ajuste:hover .drop-down {
    display: block;
}

.ajuste a {
    display: flex;
}

.drop-down li:hover {
    background-color: #8088b8;
    border-radius: 0.5rem;
}

.arrow-down {
    font-size: 20px;
    position: relative;
    right: -7px;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
}

.ajuste:hover .arrow-down {
    transform: rotate(180deg);
}

.inicio {
    padding: 15px;
}

h1 {
    font-weight: 800;
    color: white;
}

h1::selection {
    background-color: #8088b8;
    color: black;
}

body {
    background-color: #2d3258;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../image/wallhaven-9m92rx.jpg) center/cover no-repeat;
    image-rendering: optimizeSpeed;
    filter: blur(10px);
    z-index: -1; /* Para asegurarte de que el contenido esté encima */
}

.container {
    font-family: 'Arca Majora 3', sans-serif;
    display: flex;
}

.container-inicio {
    position: absolute;
    top: 100px;
    margin: 60px;
    flex-direction: column;
    width: 1370px;
    height: 470px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    color: #ffffff;
    background: #232744;
    box-shadow: inset 20px 20px 60px #1e213a,
        inset -20px -20px 60px #282d4e;
}

.contPerfil {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    top: 70px;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.contPerfil h2 {
    margin-bottom: 40px;
}

.contPerfil img {
    width: 200px;
    border-radius: 50%;
    border: 6px solid #AAA;
    height: 200px;
    image-rendering: optimizeQuality;
    overflow: hidden;
    object-fit: cover;
}

.contPerfil #foto {
    display: none;
    margin-bottom: 40px;
}

.contPerfil label {
    background-color: #2d3da8;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .6s ease;
}

.contPerfil label:hover {
    transition: .2s ease;
    background-color: #6c75ae;
    transform: scale(1.05);
}

.contPerfil #perfil {
    margin-bottom: 50px;
}

.contInfo {
    position: absolute;
    padding: 60px;
    top: -50px;
    left: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    outline: none;
}

.contInfo p {
    margin-bottom: 5px;
}

.contInfo button {
    background-color: #2d3da8;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .6s ease;
}

.contInfo button:hover {
    transition: .2s ease;
    background-color: #6c75ae;
    transform: scale(1.05);
}

.contInfo input {
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #232744;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 0;
    margin-bottom: 10px;
    outline: none;
    transition: .2s ease-in-out;
}

.contInfo input:hover{
    background-color: rgba(41, 45, 80, 0.564);
}

.contInfo input:focus{
    background-color: rgba(54, 59, 104, 0.564);
    padding: 5px 10px;
    font-size: 18px;
}

.guardar-cambios{
    position: absolute;
    background-color: #2d3da8;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .6s ease;
    left: 850px;
    top: 270px;
    width: 250px;
}

.guardar-cambios:hover{
    transition: .2s ease;
    background-color: #6c75ae;
    transform: scale(1.05);
}

.botones{
    position: absolute;
    left: 950px;
    top: 370px;
    width: 550px;
}

.botones .cerrar{
    background-color: #2d3da8;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .6s ease;
    left: 850px;
    top: 270px;
    width: 200px;
}

.botones .cerrar:hover{
    transition: .2s ease;
    background-color: #6c75ae;
    transform: scale(1.02);
}

.botones .delete{
    background-color: #a82d2d;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .6s ease;
    left: 850px;
    top: 270px;
    width: 210px;
    margin-left: 4.5px;
}

.botones .delete:hover{
    transition: .2s ease;
    background-color: #ae6c6c;
    transform: scale(1.02);
}

.back{
    position: absolute;
    left: 1320px;
    top: -65px;
    width: 550px;
}

.back .regresar{
    background-color: #2f3560;
    color: #ffffff;
    font-size: 12px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .6s ease;
    left: 850px;
    top: 270px;
    width: 50px;
    height: 50px;
    margin-left: 4.5px;
}

.back .regresar:hover{
    background-color: #6c75ae;
    transform: scale(0.95);
}

/* ------------------------------------------------ [ CUESTIONARIO DIVS ] ------------------------------------------------ */
.container-cursos{
    overflow-y: visible;
    left: -20px;
    width: 1420px;
    height: 535px;
    top: 70px;
}

.container-cursos::-webkit-scrollbar{
    width: 5px;
}

.container-cursos::-webkit-scrollbar-thumb{
    background-color: #6c75ae;
    border-radius: 20px;
    border: 3px solid #8088b8;
    cursor: grab;
}

.container-cursos::-webkit-scrollbar-track{
    background: #2d3258;
    border-radius: 20px;
}

.niveles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.img-cursos {
    width: 100%;
    height: 70px;
    object-fit: cover;
}

.nivel {
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #ffffff;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    transition: .2s ease-in-out;
    font-size: 17px;
}

.nivel:nth-child(1) {
    background-image: url(../image/fondoNivel1.png);
}

.nivel:nth-child(2) {
    background-image: url(../image/fondoNivel2.png);
}

.nivel:nth-child(3) {
    background-image: url(../image/fondoNivel3.png);
}

.nivel:nth-child(4) {
    background-color: #393f70;
}

/* Efecto al hacer hover */
.nivel:hover {
    background-color: rgba(0, 0, 0, 0.44);
}

.nivel:nth-child(4):hover {
    background-color: rgba(255, 255, 255, 0.266);
}

.nivel h4 {
    margin: 0;
    color: #ffffff;
}

.actividades {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-left: 20px;
}

.actividades.expanded {
    max-height: 500px; /* Ajusta esto dependiendo de la altura de tu contenido */
    padding-top: 10px;
}

.actividades ul {
    list-style-type: disc;
    padding-left: 20px;
}

.actividades li {
    color: #ffffff;
    margin-bottom: 5px;
}

.actividades li a {
    color: #ffffff;
    text-decoration: none;
}

.actividades li a:hover{
    text-decoration: underline;
    font-size: 18px;
}

.actividades h4{
    margin-top: 10px;
}

.cursos{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cursos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../image/wallhaven-9m92rx.jpg) center/cover no-repeat;
    image-rendering: optimizeSpeed;
    filter: blur(10px);
    z-index: -1; /* Para asegurarte de que el contenido esté encima */
}

.container-cursos h1{
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-cursos h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

.ejemplos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    margin: 10px;
    padding: 10px;
    background-color: #1e213a;
    width: 500px;
    height: 100%;
    border: 6px solid #2d3258;
    border-radius: 20px;
}

.ejemplos .code{
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.include{
    color: #216cdc;
}

.string{
    color: #009c4e;
}

.main {
    color: #d70000;
}

.int {
    color: #c5088c;
}

.videos {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

/* ------------------------------------------------------- [ NOSOTROS ] ------------------------------------------------------- */
.nosotros{
    position: absolute;
    left: -20px;
    width: 1420px;
    height: 535px;
    top: 130px;
    left: 35px;
    padding-top: 30px;
}

.equipo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1430px;
    gap: 20px;
    padding: 20px;
    margin-top: 25px;
    overflow: hidden;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #232744;
    border: 4px solid #393f70;
    border-radius: 15px;
    color: #ffffff;
    width: 800px;
    height: 400px;
    overflow: hidden;
    transition: .2s ease-in-out;
    font-size: 14px;
    text-align: center;
}

.card h3{
    position: relative;
    top: -55px;
}

.card img{
    position: relative;
    width: 120px;
    top: -30px;
    border-radius: 50%;
    border: 3px solid #AAA;
    height: 120px;
    image-rendering: optimizeQuality;
    overflow: hidden;
    object-fit: cover;
}

.card h4{
    margin-bottom: 10px;
}

.equipo .card:hover{
    width: 1200px;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-color: #6c75ae;
    transform: scale(1.1);
}

.equipo:hover > .card:not(:hover){
    filter: blur(2px);
    transform: scale(0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------ [ SOCIAL-ICONS ] ------------------------------------------------------ */
.social-icons{
    position: relative;
    left: -20px;
    top: 20px;
}

.social-icons i{
    transform: scale(2);
    z-index: 20;
}

ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #3b5998;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  
  /* ------------------------------------------------ [ VIDAS ] ------------------------------------------------------------- */
  .vidas-info {
    color: #ffffff;
  }

  .vidas-info i{
    color: #ff0000;
  }


  /* --------------------------------------------------------[ INICIO ] ------------------------------------------------ */
  .container-stats {
    text-align: center;
    color: #fff;
    background: #393f70;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
  .welcome-back {
    animation: fadeIn 1s ease-in-out;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background: #232744;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    font-size: 20px;
}

.card:hover {
    transform: translateY(-5px);
    background: #1e213a;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.card button {
    position: relative;
    padding: 10px;
    top: 60px;
    border-radius: 20px;
    background-color: #393f70;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.card button:hover {
    transform: scale(1.1);
    background-color: #505aa0;
    color: #fff;
    border: none;
    font-size: 16px;
}
